@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap");

body {
  background-image: url("./Assets/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.Home {
  background: rgba(0, 0, 0, 0.4);
  padding-top: 1rem;
  box-shadow: 0 0 1rem 4rem rgba(0, 0, 0, 0.4);
}

#About {
  padding-top: 4rem;
  padding-bottom: 50rem;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.25rem;
}

.navBar {
  padding: 1% 5% 1% 0;
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.navLinks {
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
}

.footerNav {
  display: flex;
  justify-content: center;
  margin-top: 40rem;
  margin-bottom: 2rem;
}

.myName {
  color: whitesmoke;
  font-size: 3rem;
  font-family: "Source Code Pro", monospace;
  padding: 15% 20% 20% 20%;
  width: 60%;
}

.nameContainer {
  margin-top: 3.8rem;
}
